* {
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
}

.header{
    width: 100%;
    height: 5rem;
    padding-bottom: .5rem;
    background-color: #0c2344;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-top: 1.5rem;
   
}

nav .logo  h2{
    color: orange;
    font-size: 2rem;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.navLinks > input{
    border: 1px solid #e0e2e6;
    padding: 6px;
    border-radius: 4px;
    height: 2.4rem;
    color: white;
    width: 60%;
    background-color: #0c2344;
}

.navLinks > input:focus{
    border: none;  
}

.navLinks > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.login button {
    border: none;
    width: 5rem;
    height: 2.5rem;
    background-color: orange;
    color: #0c2344;
    font-size: 1.2rem;
    cursor: pointer;
}

.login button:hover{
    background-color: rgb(238, 160, 15);
}

/* ******************************** */
/* The shop container */
/* ******************************** */

.container {
    margin-top: 3rem !important;
    width: 85%;
    margin: auto;
    padding: 0 1.5em;
}

.section-header{
    color: #0c2344;
    font-size: 1.4rem;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-primary {
    background-color: orange;
    border: none;
    border-radius: .3em;
    /* font-weight: bold; */
}

.btn-primary:hover {
    background-color: rgb(240, 164, 23);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #0c2344;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 200px;
}

.shop-item-details {
    display: flex;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #0c2344;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}






/* ******************************* */
/* Cart Styles */
/* ******************************* */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #0c2344;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #0c2344;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: orange;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #0c2344;
    margin-right: 20px;
}

.cart-total-price {
    color: orange;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 20px auto 80px auto;
    font-size: 1em;
}